:root{
  --bg-color: #F2F3EB;
  --fg-color: #5A5A5A;
  --fg-color-shade2: #474544;
  --fg-color-shade3: #535150;
  --bg-color-shade1: #E8E9E1;
  --bg-color-shade2: #ddded7;
  --bg-color-shade3: #d5d6cf;

}

@font-face{
  font-family: "ShareTech";
  src: url("fonts/ShareTech-Regular.ttf");
}

@font-face{
  font-family: "ShareTechMono";
  src: url("fonts/ShareTechMono-Regular.ttf")
}

@font-face {
  font-family: "Cabin";
  src: url("fonts/Cabin.ttf") format("truetype");
}

@font-face {
  font-family: "Grandstander";
  src: url("fonts/Grandstander.ttf") format("truetype");
}

@font-face {
  font-family: "Kode-Mono";
  src: url("fonts/KodeMono.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora.ttf") format("truetype");
}

@font-face {
  font-family: "Niconne";
  src: url("fonts/Niconne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexicMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic Mono";
  src: url("fonts/OpenDyslexicMono-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Playwrite";
  src: url("fonts/Playwrite.ttf") format("truetype");
}

@font-face {
  font-family: "Short Stack";
  src: url("fonts/ShortStack.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
}

body{
  font-family: "ShareTech", sans-serif;
  text-align: center;
  background: var(--bg-color);
  height: 100vh;
  overflow-y: hidden;
  user-select: none
}

.preload *{
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

.disabled.inputCellFile{
  pointer-events: all;
}

.disabled img, .disabled svg{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

hr{
  border: solid 0.5px var(--fg-color-shade2);
  opacity: 50%;
  margin: 1em;
  z-index: -1;
}

button {
  background: none;
  border: solid 2px var(--fg-color-shade2);
  color: var(--fg-color-shade2);
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 10px 35px;
  /* text-transform: uppercase; */
  /* -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; */
  transition: all 0.3s;
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: var(--fg-color-shade2);
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

input[type='text'], input[type='email'], input[type='number'], input[type='datetime-local'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px var(--fg-color-shade2);
  color: var(--fg-color-shade2);
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.1em 0 0.1em 0;
  padding: 0 0 0 0;
  /* text-transform: uppercase; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

input:disabled, select:disabled{
  opacity: 0.5;
}

input[type='number']{
  width: 8ch;
  text-align: center;
}

input[type='checkbox']{
  appearance: none;
  background-color: #ddded7;
  margin: 0.5em;
  font: inherit;
  /* color: var(--fg-color-shade2); */
  width: 1em;
  height: 1em;
  border: none;
  border-bottom: solid 2px var(--fg-color-shade2);
  /* transform: translateY(0.15em); */
  display: inline-grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  opacity: 0;
  transition: 0.25s ease-in-out;
  box-shadow: inset 1em 1em var(--fg-color-shade2);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

select {
  background: url('down.svg') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  padding-right: 32px;
  text-transform: lowercase;  
}

select::-ms-expand {
  display: none;
}

textarea{
  background: var(--bg-color-shade2);
  font-family: "ShareTechMono","Courier New";
  border-bottom: none;
}

table{
  margin: auto;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-collapse: collapse;
}

td, th{
  position: relative;
  padding: 5px;
  vertical-align: bottom;
  border-left: 1em;
  border-right: 1em;
  border-style: solid;
  border-color: var(--bg-color-shade2);
  transition: all 0.3s;  
  min-height: 1em;
}

td.expanded{
  border-bottom: solid 2px var(--fg-color-shade2);
}

tr:hover .dataCell{
  background-color: var(--bg-color-shade3);
}

tr:hover .dataCell.selected{
  background-color: var(--fg-color-shade3);
}

input.invalid{
  border-bottom: solid 2px #cc6d3d;
}

.selected{
  background-color: var(--fg-color-shade2);
  color: var(--bg-color);
}

.selected input{
  border-bottom: solid 2px var(--bg-color);
  color: var(--bg-color);
}

.hidden{
  display: none !important;
  visibility: hidden;
  opacity: 0;
}

.numCol, .addCol{
  width: 50px;
}

.rowHeader{
  transform: translateY(0.3em);
  min-width: 2.5em;
  height: 2em; /* doesn't affect much but needs this so that selectAreaRow can grow */
}

.rowHeader:hover .rowControls{
  opacity: 1;
}

/* .rowHeader.withExpanded{
  height: 5em;
} */


button:hover {
  background: var(--fg-color-shade2);
  color: var(--bg-color);
}

button:disabled, button:disabled:hover{
  color: #DEDED7;
  border: solid 2px #DEDED7;
  background: none;
}

label{
  text-transform: lowercase;
  padding-right: 0.5em;
}

.dataCell{
  position: relative;
  min-width: 15em;
}

.inputCellExtension.hidden{
  display: none;
}

.inputCellText, .inputCellTextMirror, .inputCellExtension{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-overflow: ellipsis;
}

.withPreview .inputCellText{
  width: calc(100% - 2.25em);
}

.inputCellMore, .inputCellImageSelector{  
  border: none;
  text-align: center;
}

.inputCellMore{
  width: 14px;
  /* padding: 0.125em; */
  padding: 0;
  position: absolute;
  top: 0;
  left: calc(100% + 1px);
  z-index: 99;
  height: 100%;
}

th .inputCellMore{
  left: auto;
  right: 1px;
  opacity: 0;
}

.inputCellImageSelector{
  height: 1.75em;
  width: 1.75em;
  margin: 0.125em;
  padding: 1px;
}

.inputCellImageSelector svg{
  fill: rgb(71,69,68);
  /* width: 1em;
  height: 1em; */
}

.inputCellImageSelector:hover svg{
  fill: var(--bg-color-shade2);  
}

.inputCellImageSelector:disabled, .inputCellImageSelector:disabled:hover{
  opacity: 0.5;
  /* background: var(--bg-color-shade2);  */
  border: none;
}

.inputCellImageSelector:hover:disabled svg{
  fill: rgb(71,69,68);
}

.inputCellFile{
  display: inline-block;
  position: relative;
  max-height: 1em;
  width: 1em;
  margin: 0.125em;
  margin-left: 1.125em;
  transition: transform .5s ease-in-out;
}

.inputCellFile svg{
  width: 100%;
  height: 100%;
}

.inputCellFile:hover{
  transform: scale(400%) translateX(-20%);
}

.inputCellFile:hover .fileDeleteBtn{
  transform: scale(50%) translateX(-20%);
}

.expanded .inputCellFile:hover .fileDeleteBtn{
  transform: none;  
}

.expanded .inputCellFile:hover .fileDeleteBtn.hidden{
  transform: none;  
  opacity: 0.5;
}

/* larger preview when expanded (override normal hover behaviour) */
.expanded .inputCellFile, .expanded .dataImagePreview, .expanded .inputCellFile:hover{
  width: auto;
  max-width: calc(100% - 0.25em);
  max-height: 5em;
  transform: none;
  margin: 0.25em;
}

/* in the case of containing an SVG, the data image preview will just set a height of 5em */
.expanded div.dataImagePreview{
  height: 5em;
}

.dragPlaceholder{
  background-color: var(--bg-color);
  position: absolute;
  opacity: 50%;
  z-index: 999;
  pointer-events: none;
  padding: 0.5em;  
}

.dataImagePreview{
  max-height: 100%;
  width: 100%;
  height: auto;
  transform: scale(300%);
}

.inputCellTextMirror{
  resize: none;
  max-height: 300px;
  background-color: var(--bg-color-shade1);
  width: calc(100% - 2em);
}

.rowNumber{
  width: 50%;
  margin-bottom: -50%;
}

.colName{
  max-width: calc(100% - 2em);
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  /* enable the following if later it should be possible to click on the column name */
  /* position: relative; */
  /* z-index: 999; */
}

.unused{
  opacity: 0.5;
}

.miniBtn{
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  font-size: 0.9em;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s;
  opacity: inherit;
  z-index: 999;
}

.addAbove, .removeRow{
  float: right;
  width: 30%;
}

.addBefore, .removeCol{
  display: inline-block;
  opacity: 0;
  transition: 0.3s;
}

th:hover .miniBtn, th:hover .inputCellMore{
  opacity: 1
}

.miniBtn:hover{
  background: none;
  color: inherit;
}

.miniBtn:hover{
  transform: scale(2,2);
}

.miniBtn:active{
  opacity: 0.5;
}

.swapBtn{
  /* font-size: 1em; */
  display: block;
  position: relative;
  /* color: var(--fg-color); */
  z-index: 999;
  float: left;
  margin-top: 0.5em;
  margin-left: -1.5em;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Fire */
}

.swapBtn:active{
  transform: scale(-2,2);
}

.swapIcon{
  height: 16px;
  width: 16px;
}

.rowControls{
  opacity: 0;
  transition: 0.3s;
  margin-bottom: -0.25em;
}

.selectAreaCol, .selectAreaRow{
  position: relative;
  padding: 3px;
  z-index: 1;
  transition: 0.3s;
  background-color: var(--fg-color-shade2);
  opacity: 0;
  float: left;
}

.selectAreaCol.selected, .selectAreaRow.selected{
  opacity: 0.05;
}

.selectAreaCol{
  margin-left: -2.5px; /* to compensate padding */
  margin-top: -1.5em;
  height: 100%;
  width: 100%;
}

.selectAreaRow{
  margin-top: -2.25em;
  height: 100%; /* will be about 2em most of the time */
  width: 100%;
}

.selectAreaCol:hover, .selectAreaRow:hover{
  /* background-color: var(--fg-color-shade2); */
  opacity: 0.1;
}

/* .rowHeader.withExpanded .selectAreaRow{
  height: 100%;
} */

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: translateY(2px) rotate(-135deg);
  -webkit-transform:  translateY(2px) rotate(-135deg);
}

.arrow.down {
  transform: translateY(-2px) rotate(45deg);
  -webkit-transform: translateY(-2px) rotate(45deg);
}

.fileDeleteBtn{
  background-color: var(--bg-color-shade2);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 100%;
  font-size: 1em;
  top: 0;
  right: 0;
  height: 1em;
  width: 1em;  
  transform: scale(100%);  
}

.fileDeleteBtn.hidden{
  /* override usual hidden attributes */
  display: flex !important;
  visibility: visible;

  opacity: 0;
  transform: scale(0);  
  pointer-events: none;  
}


.infoContainer{
  position: relative;
  display: inline-block;
  transform: translateY(-0.1em)
}

.infoIcon{
  margin-left: 2px;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  font-size: 0.8em;
  line-height: 0.7em;
  color: var(--bg-color);
  background-color: var(--fg-color-shade2);
  border: solid 1px var(--fg-color-shade2);
  text-align: center;
}

.infoBox{
  visibility: hidden;
  position: absolute;
  /* bottom: 100%; */ /* set inline */
  width: max-content;
  max-width: 300px;
  max-height: 200px;
  padding: 2px;
  margin: 1px;
  font-size: 0.9em;
  overflow: scroll;
  color: var(--bg-color);
  background-color: var(--fg-color-shade2);
  border: solid 2px var(--fg-color-shade2);
  transition: visibility 0.5s, opacity 0.5s;
  opacity: 0;
  z-index: 99;
  text-transform: none;
  scrollbar-width: none;
}

.infoBox::-webkit-scrollbar {
  display: none;
}

.infoContainer:hover .infoBox{
  visibility: visible;
  opacity: 1;  
}

#hex-logo{
  width: 80px;
  height: 80px;
  margin: auto;
  float: left;
}

#topArea{
  width: 90%;
  margin: auto;
  height: 80px;
}

#buttons{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

#buttons.leftAlign{
  margin-left: 90px;
  text-align: left;
}

#inputBox{
  display: inline-block;
  position: relative;
  box-sizing: border-box; /* to stop padding adding width */
  border: none;
  border-bottom: solid 2px var(--fg-color-shade2);
  color: var(--fg-color-shade2);
  background: var(--bg-color-shade2);
  font-family: "ShareTechMono","Courier New";
  clear: both;
  height: calc(100% - 250px);
  min-height: 100px;
  width: 90%;
  transition: 0.5s;
  margin: 0em 0 0.875em 0;
  padding: 0 0 0.875em 0;
  overflow: scroll;
}


#controlsEtc{
  height: 200px;
  overflow: visible;
}

/* #previewTitle{
  visibility: hidden;
}

#previewArea{
  border: solid 2px var(--fg-color-shade2);
  width: 80%;
  margin: auto;
  visibility: hidden;
} */

#settingsTitle{
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#categoryPicker{
  background-color: var(--bg-color-shade2);
  float: left;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 1em;
}

#advancedExport{
  display: none;
  position: relative;  
}
/* see more in toggle-switch.css */

#packageIDWrapper{
  position: relative;
  display: inline-block;
}

.setting{
  width: 100%;
  -webkit-column-break-inside: avoid;
}

.setting input, select{
  margin-bottom: 0.5em;
}

.hiddenLeft {
  animation: shrinkToLeft 500ms;
  opacity: 0;
  pointer-events: none;
}

.expandedLeft {
  animation: expandFromLeft 500ms;
  opacity: 1;
  pointer-events: auto;
}

@keyframes expandFromLeft {
  from {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes shrinkToLeft {
  from {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
  to {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
}


.showSettingsButton{
  display: inline-block;
  vertical-align: middle;
  /* height: 24px; */
  transition: 0.5s;
  margin: 0.25em;
}

.settingsArea{
  border: none;
  box-sizing: border-box; /* to stop padding adding width */
  border-bottom: solid 2px var(--fg-color-shade2);
  width: 90%;
  margin: auto;
  height: 0;
  background: var(--bg-color-shade1);
  clear: both;
  transition: height 0.5s;
  overflow-y: scroll;
  overflow-x: visible;
  z-index: 1;
}

.openSettings{
  height: 220px;
  /* padding: 20px; */
  transition: height 0.5s;
}

.settingsAreaInner{
  padding: 20px;
  /* text-align: left; */  
}

.exampleBtn{
  margin-bottom: 20px;
}

#generateBtn{
  border: 0;
  padding: 0;
  transition: 0.1s  ease-in-out;
}

#generateBtn:hover{
  background: transparent;  
}

#generateBtn:hover #generateIcn{
  transform: rotate(270deg);
}

#generateBtn:active{
  transform: scale(0.75);
}

#generateIcn{
  fill: var(--fg-color-shade2);
  height: 19px;
  width: 19px;
  transition: 0.5s ease-in-out;
}