:root {
    --bg-color: #F2F3EB;
    --contents-bg-color: #ddded7;
    --fg-color: #000000;
    --fg-color-secondary: #ddded7;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Share Tech', sans-serif;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.3em;
}

h5{
    font-size: 1.2em;
}
table{
    border: 1px solid var(--fg-color-secondary);
    border-collapse: collapse
}

table td, table th {
    padding: 0.25em;
    border: 1px solid var(--bg-color);
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }

table th{
    border: 1px solid var(--fg-color-secondary);
}


tbody tr:nth-child(odd) {
    background-color: var(--fg-color-secondary);
    border: 1px solid var(--fg-color-secondary);
  }

  tbody tr:nth-child(even) td {
    border: 1px solid var(--fg-color-secondary);
  }

a{
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

code{
    background-color: var(--fg-color-secondary);
}

pre code{
    display: inline-block; 
    width: 90%;
    padding: 0.5em;
    overflow: scroll;
}

/* iframe#documentation{
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 900px;
    border: none;
} */

iframe#documentation{
    display: none;
}

#documentationWrapper{
    margin: auto;
    width: 90%;
    max-width: 900px;
    height: 100%;
    /* overflow: hidden; */
}